{% extends 'layout.html' %}

{% block content %}
    <form action="{% url 'contact:edit' contact.id %}" method="post">
        <fieldset>
            <legend>Contact Values</legend>
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label|capfirst }}:</label>
                    {% if field.name == 'email' %}
                        <input name="email" id="{{ field.id_for_label }}" type="email" placeholder="email"
                               data-hx-get="{% url 'contact:check-email' %}"
                               data-hx-target="next .error"
                               data-hx-trigger="change, keyup delay:200ms changed"
                               data-hx-swap="outerHTML"
                               value="{{ field.value }}">
                        <span class="error"></span>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="error">{{ error|escape }}</span>
                    {% endfor %}
                </p>
            {% endfor %}
            <input type="submit" value="Save">
        </fieldset>
    </form>

    <button data-hx-delete="{% url 'contact:show-delete' contact.id %}"
            data-hx-target="body"
            data-hx-push-url="true"
            data-hx-confirm="Are you sure you want to delete this contact?">
        Delete Contact
    </button>

    <p>
        <a href="{% url 'contact:index' %}">Back</a>
    </p>
{% endblock %}