{% extends 'layout.html' %}

{% block content %}
    <form action="{% url 'contact:index' %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q }}"/>
        <input type="submit" value="Search"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in page_obj %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td><a href="/contact/{{ contact.id }}/edit">Edit</a>
                    <a href="{% url 'contact:show-delete' contact.id %}">View</a></td>
            </tr>
        {% endfor %}
        {% if page_obj.has_next %}
            <tr>
                <td colspan="5" style="text-align: center">
                    <button data-hx-target="closest tr"
                            data-hx-swap="outerHTML"
                            data-hx-select="tbody > tr"
                            data-hx-get="{% url 'contact:index' %}?page={{ page_obj.next_page_number }}">
                        Load More
                    </button>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p>
        <a href="{% url 'contact:create' %}">Add Contact</a>
    </p>
{% endblock %}

