{% extends 'layout.html' %}

{% block content %}
    <form action="{% url 'contact:index' %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q }}" data-hx-get="{% url 'contact:index' %}"
               data-hx-trigger="search, keyup delay:200ms changed"
               data-hx-target="tbody"
               data-hx-push-url="true"
               data-hx-indicator="#search-indicator"/>
        <input type="submit" value="Search"/>
    </form>
    <span id="search-indicator" class="htmx-indicator">Searching...</span>
    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% include 'contact/rows.html' %}
        </tbody>
    </table>

    <p>
        <a href="{% url 'contact:create' %}">Add Contact</a>
    </p>
{% endblock %}

