{% extends 'layout.html' %}

{% block content %}
    <form action="{% url 'contact:index' %}" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.GET.q }}"/>
        <input type="submit" value="Search"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in page_obj %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td><a href="/contact/{{ contact.id }}/edit">Edit</a>
                    <a href="{% url 'contact:show-delete' contact.id %}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="{% url 'contact:index' %}?page=1">&laquo; first</a>
                <a href="{% url 'contact:index' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

            {% if page_obj.has_next %}
                <a href="{% url 'contact:index' %}?page={{ page_obj.next_page_number }}">next</a>
                <a href="{% url 'contact:index' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <p>
        <a href="{% url 'contact:create' %}">Add Contact</a>
    </p>
{% endblock %}

